{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8 mx-auto">
    <h4 class="my-2">Settings</h4>
    <form method="post" action=""> {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <form method="post" action="{% url 'accounts:delete' %}"> {% csrf_token %}
      <button type="submit" class="btn btn-danger my-2">Delete</button>
    </form>
  </div>
</div>
<div class="row my-5">
  <div class="col-md-8 mx-auto">
    <p class="my-2">If there is no valid (city, language), fill the form for administrator!</p>
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show the form
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form method="post" action="{% url 'accounts:contact' %}"> {% csrf_token %}
          <div class="form-group">
            {{ contact_form.as_p }}
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}